@use "../abstracts/variables" as *;

h1, .edu-h1,
h2, .edu-h2,
h3, .edu-h3,
h4, .edu-h4,
h5, .edu-h5,
h6, .edu-h6 {
  font-family: var(--heading-font-family);
  color: inherit;
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  margin: 0;
}

@for $i from 1 through 6 {
  h#{$i}, .edu-h#{$i} {
    font-size: var(--heading-#{$i});
  }
}