@use "../abstracts/variables" as *;
@use "breakpoints" as *;

/**** LAYOUT E GRID *****/
.edu-container, [class*=edu-container-] {
  width: var(--container-default);
  margin: 0 auto;
}

//Criando containers baseado no tamanho da tela
@each $size, $value in $containers {
  .edu-container-#{$size} {
    @include respond(#{$size}) {
      max-width: $value;
    }
  }
}
