@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "breakpoints" as *;

/**** LAYOUT E GRID *****/
.edu-content, [class*=edu-content-] {
  width: var(--content-default);
  margin: 0 auto;
}

//Criando contents baseado no tamanho da tela
@each $size, $value in $contents {
  .edu-content-#{$size} {
    @include respond(#{$size}) {
      max-width: $value;
    }
  }
}

//Rows e Columns
.edu-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$default-gutter;
  margin-right: -$default-gutter;
  
  > [class*=edu-flex-] {
    width: 100%;
    max-width: 100%;
    padding-right: $default-gutter;
    padding-left: $default-gutter;
  }

  @for $i from 1 through $total-cols {
    .edu-flex-#{$i} {
      @include grid($total-cols, $i);
    }
  }

  @each $break, $value in $contents {
    @include respond(#{$break}) {
      @for $i from 1 through $total-cols {
        .edu-flex-#{$break}-#{$i} {
          flex: 0 0 calc(100% / (#{$total-cols} / #{$i}));
          max-width: calc(100% / (#{$total-cols} / #{$i}));
        }
      }
    }
  }
}

//Offset Colunas - Não responsivas
@include offset-grid($total-cols, false);
//Offset Colunas - Responsivas
@include offset-grid($total-cols, true);
