@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "breakpoints" as *;

/**** LAYOUT E GRID *****/
.edu-container, [class*=edu-container-] {
  width: var(--container-default);
  margin: 0 auto;
}

//Criando containers baseado no tamanho da tela
@each $size, $value in $containers {
  .edu-container-#{$size} {
    @include respond(#{$size}) {
      max-width: $value;
    }
  }
}

//Rows e Columns
.edu-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$default-gutter;
  margin-right: -$default-gutter;
  
  > [class*=edu-flex-] {
    width: 100%;
    max-width: 100%;
    padding-right: $default-gutter;
    padding-left: $default-gutter;
  }

  @for $i from 1 through $total-cols {
    .edu-flex-#{$i} {
      @include grid($total-cols, $i);
    }
  }

  @each $break, $value in $containers {
    @include respond(#{$break}) {
      @for $i from 1 through $total-cols {
        .edu-flex-#{$break}-#{$i} {
          flex: 0 0 calc(100% / (#{$total-cols} / #{$i}));
          max-width: calc(100% / (#{$total-cols} / #{$i}));
        }
      }
    }
  }
}

@for $i from 1 through $total-cols {
  .edu-offset-#{$i} {
    @if $i == $total-cols {
      margin-left: 0;
      flex: 0 0 100%;
      max-width: 100%;
    } @else {
      margin-left: calc(100% / (#{$total-cols} / #{$i}));
      flex: 0 0 calc(100% / ((#{total-cols} - #{$i}) / #{$total-cols}));
      max-width: calc(100% / ((#{total-cols} - #{$i}) / #{$total-cols}));
    }
  }
}
