@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layout/breakpoints" as *;

body.edu-theme-dark {
  --global-bg-clr: var(--edu-dark-300-clr);
  /* Sidebar */
  --sidebar-bg-clr: var(--edu-dark-400-clr);
  --sidebar-menu-item-clr: var(--edu-gray-50-clr);
  --sidebar-menu-item-hvr-bg-clr: var(--edu-primary-400-clr);
  --sidebar-empl-of-month-bg-clr: rgba(52, 66, 111, 0.8);
  /* Navbar */
  --navbar-bg-clr: var(--edu-dark-200-clr);
  /* Cards */
  --card-bg-clr: var(--edu-dark-200-clr);
  /* Tabelas */
  --tbl-header-bg-clr: var(--edu-dark-400-clr);
  /* Tipografia */
  --global-text-clr: var(--edu-gray-50-clr);  
  /* Formulários */
  --input-bg-clr: var(--edu-dark-300-clr);
  --input-brdr-clr: var(--edu-primary-clr);
  --btn-icon-hvr-bg: var(--edu-dark-300-clr);
}

body.edu-theme-dark .edu-card__header {
  border: none;
}

body.edu-theme-dark .edu-card__header {
  border: none;
}

body.edu-theme-dark .edu-tbl{
  border: none;
}

body.edu-theme-dark .edu-tbl  a {
  color: #fff;
}

body.edu-theme-dark .edu-btn {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

body.edu-theme-dark .edu-card__show {
 border-bottom: 1px solid var(--edu-gray-600-clr); 
}

body.edu-theme-dark .edu-tbl__row:not(:last-of-type) {
  border-bottom: 1px solid var(--edu-gray-600-clr); 
}