@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.edu-avat {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border-radius: 50%;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @each $current-size in $avatars {
    &.edu-avat-#{$current-size} {
      width: calc(($current-size / 10) * 1rem);
      height: calc(($current-size / 10) * 1rem);
    }
  }

  &-group {
    display: flex;
    align-items: center;
    .edu-avat:not(:first-of-type) {
      border: 0.2rem solid var(--global-bg-clr);
      margin-left: -0.8rem;
    }
  }
}