@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.edu-btn {
  border: 0;
  border-radius: var(--default-brd-rad);
  cursor: pointer;
  padding: var(--default-btn-padding);
  font-size: var(--btn-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
