@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layout/breakpoints" as *;

.edu-dropdown {
  position: relative;

  [data-dropdown-target] {
    cursor: pointer;
  }

  &__menu {
    background-color: var(--card-bg-clr);
    width: var(--default-dropdown-width);
    height: auto;
    max-height: var(--default-dropdown-mx-height);
    overflow: hidden auto;
    border-radius: var(--default-brd-rad);
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;

    @include transition;
    @include boxShadow;
    @include customScrollbar;

    &.edu-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &.edu-dropdown-abs-left &__menu {
    left: 0;
    right: auto;
  }

  &.edu-dropdown-abs-center &__menu {
    left: 50%;
    transform: translateX(-50%);
  }

  &.edu-dropdown-abs-right &__menu {
    left: auto;
    right: 0;
  }

  @each $break, $value in $contents {
    @include respond(#{$break}) {
      &.edu-dropdown-abs-left-#{$break} &__menu {
        left: 0;
        right: auto;
        transform: translateX(0);
      }
    
      &.edu-dropdown-abs-center-#{$break} &__menu {
        left: 50%;
        transform: translateX(-50%);
      }
    
      &.edu-dropdown-abs-right-#{$break} &__menu {
        left: auto;
        right: 0;
        transform: translateX(0);
      }
    }
  }
}

.dropdown {
  &-header, &-footer {
    background-color: var(--tbl-header-bg-clr);
  }

  &-link {
    &:hover, &:hover {
      color: var(--edu-secondary-clr);
    }
  }
}