@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layout/breakpoints" as *;

.edu-header {
  width: 100%;
  background-color: var(--card-bg-clr);
  height: var(--default-navbar-height);

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
  }

  &__mobile {
    &--trigger {
      background-color: var(--global-bg-clr);
      width: 3rem;
      height: 3rem;
      border-radius: var(--default-brd-rad);
    }
  }

  // Theme switcher
  .theme-control {
    .theme-light,
    .theme-dark {
      display: none;
    }

    [data-current-theme="light"] {
      .theme-light {
        display: none;
      }
      .theme-dark {
        display: block;
      }
    }
    [data-current-theme="dark"] {
      .theme-dark {
        display: none;
      }
      .theme-light {
        display: block;
      }
    }
  }

  #profile {
    top: calc(var(--default-navbar-height) - 1rem);
  }

  #profile {
    .user-details {
      line-height: 1.2;
    }

    .dropdown-footer {
      background-color: transparent;
      border-top: 0.1rem solid var(--brdr-clr);
    }
  }

  // Sidebar
  &__navitems {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden auto;
    background-color: var(--sidebar-bg-clr);
    width: var(--default-sidebar-nav-width);
    max-width: var(--default-sidebar-nav-width);
    z-index: 25;

    @include transition;
    @include customScrollbar;

    @include respond(sm) {
      ----default-sidebar-nav-width: 36rem;
    }
  }
  &__link--logo {
    background-color: transparent;
    width: 80%;
    height: var(--default-navbar-height);
    img {
      width: 100%;
    }
  }

  &__link {
    border-left: 0.4rem solid transparent;
  }
}
