@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layout/breakpoints" as *;

.edu-header {
  width: 100%;
  background-color: var(--card-bg-clr);
  height: var(--default-navbar-height);

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
  }

  &__mobile {
    &--trigger {
      background-color: var(--global-bg-clr);
      width: 3.6rem;
      height: 3.6rem;
      border-radius: var(--default-brd-rad);
    }
  }

  #profile {
    top: calc(var(--default-navbar-height) - 1rem);
  }

  #profile {
    .user-details {
      line-height: 1.2;
    }

    .dropdown-footer {
      background-color: transparent;
    }
  }

  // Sidebar
  &__navitems {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden auto;
    background-color: var(--sidebar-bg-clr);
    width: var(--default-sidebar-nav-width);
    max-width: var(--default-sidebar-nav-width);
    z-index: 25;
    visibility: hidden;
    transform: translateX(-100%);

    @include transition;
    @include customScrollbar;

    &.edu-active {
      visibility: visible;
      transform: translateX(0);
    }

    @include respond(sm) {
      ----default-sidebar-nav-width: 36rem;
    }
  }
  
  &__link--logo {
    background-color: transparent;
    width: 80%;
    height: var(--default-navbar-height);
    img {
      width: 100%;
    }
  }

  &__link {
    border-left: 0 solid transparent;
    span, i {
      color: var(--sidebar-menu-item-clr);
    }

    &:hover, &:focus, &.edu-active {
      background-color: var(--sidebar-menu-item-hvr-bg-clr);
    }

    &.edu-active {
      border-color: var(--sidebar-menu-item-active-brg-clr);
    }
  }
}

@each $break, $value in $containers {
  @include respond(#{$break}) {
    @for $i from 1 through 6 {
      .edu-header__sidebar-#{$break}-#{$i} {
        transform: translate(0);
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        width: calc(100% / (#{$total-cols} / #{$i}));
      }
    }
  }
}
