@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layout/breakpoints" as *;

.edu-header {
  width: 100%;
  background-color: var(--card-bg-clr);
  height: var(--default-navbar-height);

  &__mobile {
    &--trigger {
      background-color: var(--global-bg-clr);
      width: 3.6rem;
      height: 3.6rem;
      border-radius: var(--default-brd-rad);
    }
  }

}

.theme-control {
  .theme-light, .theme-dark {
    display: none;
  }

  [data-current-theme=light] {
    .theme-light {
      display: none;
    }
    .theme-dark {
      display: block;
    }
  }
  [data-current-theme=dark] {
    .theme-dark {
      display: none;
    }
    .theme-light {
      display: block;
    }
  }
}

#profile {
  --default-dropdown-width: 25rem;
  top: calc(var(--default-navbar-height) - 1rem);
  .user-details {
    line-height: 1.2;
  }

  .dropdown-footer {
    background-color: transparent;
    border-top: 0.1rem solid var(--brdr-clr);
  }
}
